<!-- INTRO -->
<section class="intro">

	<div class="row">

		<div class="medium-12 columns">

			<h1>Designer &amp; Developer</h1>
			<p>Hello my name Raul Gonzalez, i'm design student from Spain. <br>I Design flat, simple, and clean interface for all device.</p>

			<p><a href="#contact" class="button small alert radius">Drop Me A Line</a></p>

			<!-- Start: Slider -->
			<div class="csslider">

				<input type="radio" name="slides" id="slides_1" checked>
				<input type="radio" name="slides" id="slides_2">
				<ul>
					<li><%= image_tag('mac.png') %></li>
					<li><%= image_tag('mac.png') %></li>
				</ul>

				<!-- Buttons Control -->
				<div class="navigation">

					<div>
						<label for="slides_1"></label>
						<label for="slides_2"></label>
					</div>
					
				</div><!-- /.navigation -->
				
			</div><!-- /.csslider -->
			<!-- End: Slider -->
			
		</div><!-- /.medium-12 .columns -->

	</div><!-- /.row -->
	
</section><!-- /.intro -->
<!-- INTRO -->

<!-- PORTFOLIO -->
<section id="portfolio" class="portfolio-wrapper">

	<div class="row">

		<div class="medium-12 columns">

			<h3>My Latest Project</h3>

			<div class="line"></div>
			<div class="clearfix"></div>
			
			<div class="portfolio-list">
				
				<!-- Start: Portfolio grid -->
				<div class="portfolio">

					<div class="portfolio-cover">
            <%= image_tag('portfolio/work-1.jpg') %>

						<div class="label">
							<div class="label-text">
								<h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
							</div><!-- /.label-text -->
							<div class="label-bg"></div>
						</div><!-- /.label -->

					</div><!-- /.portfolio-cover -->

				</div><!-- /.portfolio -->

				<div class="portfolio">

					<div class="portfolio-cover">

						<%= image_tag('portfolio/work-2.jpg') %>

						<div class="label">
							<div class="label-text">
								<h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
							</div><!-- /.label-text -->
							<div class="label-bg"></div>
						</div><!-- /.label -->

					</div><!-- /.portfolio-cover -->

				</div><!-- /.portfolio -->

				<div class="portfolio">

					<div class="portfolio-cover">

						<%= image_tag('portfolio/work-3.jpg') %>

						<div class="label">
							<div class="label-text">
								<h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
							</div><!-- /.label-text -->
							<div class="label-bg"></div>
						</div><!-- /.label -->

					</div><!-- /.portfolio-cover -->

				</div><!-- /.portfolio -->

				<div class="portfolio">

					<div class="portfolio-cover">

						<%= image_tag('portfolio/work-4.jpg') %>

						<div class="label">
							<div class="label-text">
								<h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
							</div><!-- /.label-text -->
							<div class="label-bg"></div>
						</div><!-- /.label -->

					</div><!-- /.portfolio-cover -->

				</div><!-- /.portfolio -->



				<div class="portfolio">

					<div class="portfolio-cover">

						<%= image_tag('portfolio/work-5.jpg') %>

						<div class="label">
							<div class="label-text">
								<h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
							</div><!-- /.label-text -->
							<div class="label-bg"></div>
						</div><!-- /.label -->

					</div><!-- /.portfolio-cover -->

				</div><!-- /.portfolio -->

				<div class="portfolio">

					<div class="portfolio-cover">

						<%= image_tag('portfolio/work-6.jpg') %>

						<div class="label">
							<div class="label-text">
								<h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
							</div><!-- /.label-text -->
							<div class="label-bg"></div>
						</div><!-- /.label -->

					</div><!-- /.portfolio-cover -->

				</div><!-- /.portfolio -->

				<div class="portfolio">

					<div class="portfolio-cover">

						<%= image_tag('portfolio/work-7.jpg') %>

						<div class="label">
							<div class="label-text">
								<h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
							</div><!-- /.label-text -->
							<div class="label-bg"></div>
						</div><!-- /.label -->

					</div><!-- /.portfolio-cover -->

				</div><!-- /.portfolio -->

				<div class="portfolio">

					<div class="portfolio-cover">

						<%= image_tag('portfolio/work-8.jpg') %>

						<div class="label">
							<div class="label-text">
								<h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
							</div><!-- /.label-text -->
							<div class="label-bg"></div>
						</div><!-- /.label -->

					</div><!-- /.portfolio-cover -->

				</div><!-- /.portfolio -->
				<!-- End: Portfolio grid -->
				
			</div><!-- /.portfolio-list -->
			
		</div><!-- /.medium-12 .columns -->

	</div><!-- /.row -->

</section><!-- /.portfolio-wrapper -->
<!-- PORTFOLIO -->




<!-- ABOUT -->
<section id="about" class="about-wrapper">

	<div class="row">

		<div class="medium-12 columns">

			<h3>About Me</h3>

			<div class="line"></div>
			<div class="clearfix"></div>
			
		</div><!-- /.medium-12 .columns -->

	</div><!-- /.row -->

	<div class="col-progress">

		<div class="row">

			<div class="medium-4 columns">
				
				<h6>HTML5</h6>
				<div class="progress success round">
					<span class="meter" style="width: 90%"></span>
				</div><!-- /.progress -->
				
				<h6>CSS3</h6>
				<div class="progress success round">
					<span class="meter" style="width: 90%"></span>
				</div><!-- /.progress -->
				
				<h6>Javascript</h6>
				<div class="progress round">
					<span class="meter" style="width: 80%"></span>
				</div><!-- /.progress -->
				
			</div><!-- /.medium-4 .columns -->

			<div class="medium-4 columns text-center">
				
				<div class="col-desc">
					<p>Cupcake ipsum dolor sit amet sweet jelly-o gummies unerdwear.com. Sweet roll toffee tiramisu. Chocolate jujubes dessert topping muffin pudding marzipan. Croissant chocolate cake unerdwear.com tart wafer cupcake.</p>

					<%= image_tag('avatar.jpg') %>
				</div><!-- ./col-desc -->
				
			</div><!-- /.medium-4 .columns -->

			<div class="medium-4 columns">

				<h6>Jquery</h6>
				<div class="progress medium-12 round">
					<span class="meter" style="width: 80%"></span>
				</div><!-- /.progress -->
				
				<h6>Photoshop</h6>
				<div class="progress medium-12 alert round">
					<span class="meter" style="width: 70%"></span>
				</div><!-- /.progress -->
				
				<h6>PHP &amp; MySQL</h6>
				<div class="progress medium-12 alert round">
					<span class="meter" style="width: 70%"></span>
				</div><!-- /.progress -->
				
			</div><!-- /.medium-4 .columns -->

		</div><!-- /.row -->
		
	</div><!-- /.col-progress -->

</section><!-- /.about-wrapper -->
<!-- ABOUT -->




<!-- LATEST TWEETS -->
<section class="tweets-wrapper">

	<div class="row">

		<div class="medium-12 columns">

			<%= image_tag('twitter-bird.png', :class => "pulse") %>

			<div id="tweets"></div>
			<script>
				window.onload = function(){
					twitterFetcher.fetch(
						'252605694623223809',			// replace to your id twitter app
						'tweets',						// div id
						1,								// num tweets
						true,							// set true if you want urls and hash
						false,							// Set false if you dont want user photo
						false,							// Set false if you dont want time of tweet to show.
						d,								// Format tweet date
						false,							// Show retweets or not.
						d,								// function to call when data is ready.
						false							// Show links for reply, retweet, favourite.
					);
					var d = function(){return null};	// nothing function
				}		
			</script>
			
			<div class="clearfix"></div>
			<p><a href="#" class="button tiny radius">Follow @raul_gonzalez</a></p>
			
		</div><!-- /.medium-12 .columns -->

	</div><!-- /.row -->

</section><!-- /.tweets-wrapper -->
<!-- LATEST TWEETS -->




<!-- CONTACT -->
<section id="contact" class="contact-wrapper">

	<div class="row">

		<div class="medium-12 columns">

			<h3>Let's Talk</h3>

			<div class="line"></div>
			<div class="clearfix"></div>
			
		</div><!-- /.medium-12 .columns -->

	</div><!-- /.row -->

	<div class="row">

		<div class="medium-3 columns">&nbsp;</div><!-- /.medium-3 .columns -->
		<div class="medium-6 columns">

			<form class="contact-form">
				
				<div class="input-item">
					<label>Name <span class="required">*</span></label>
					<input type="text" placeholder="Full name">
				</div><!-- /.input-item -->
				
				<div class="input-item">
					<label>Email <span class="required">*</span></label>
					<input type="email" placeholder="Email address">
				</div><!-- /.input-item -->
				
				<div class="input-item">
					<label>Messages <span class="required">*</span></label>
					<textarea cols="10" rows="4" placeholder="Your message"></textarea>
				</div><!-- /.input-item -->

				<div class="input-item text-center">
					<input class="button small success radius" type="submit" value="Submit">
				</div><!-- /.input-item -->

			</form><!-- /.contact-form -->
			
		</div><!-- /.medium-6 .columns -->
		<div class="medium-3 columns">&nbsp;</div><!-- /.medium-3 .columns -->

	</div><!-- /.row -->

	<div class="clearfix"></div>
	<div class="row margin-top">

		<div class="medium-12 columns">

			<h3>Stay In Touch!</h3>

			<div class="line"></div>
			<div class="clearfix"></div>

			<ul class="social-icon">
				<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
				<li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
			</ul><!-- /.social-icon -->
			
		</div><!-- /.medium-12 .columns -->

	</div><!-- /.row -->
	
</section><!-- /.contact-wrapper -->
<!-- CONTACT --> 

<!-- Start show Modal for Portfolio from here. You should create a modal for each of your projects. -->
<!-- Start: Modal Portfolio 1 -->
<div id="Modal-Portfolio-1" class="reveal-modal small" data-reveal>
	
	<%= image_tag('portfolio/work-7.jpg') %>

	<h3>Example Title</h3>
	<p>Macaroon fruitcake marzipan dessert muffin halvah halvah. Cake candy canes apple pie pastry <a href="#">jelly-o caramels</a>. Tiramisu cake lollipop bonbon tart pie caramels biscuit.</p>

	<p class="text-center button-margin"><a href="#" class="button tiny alert radius">Visit Site</a></p>

	<!-- Close modal -->
	<a class="close-reveal-modal">&times;</a>
	
</div><!-- /.reveal-modal -->
<!-- End: Modal Portfolio 1 -->

<!-- Start: Modal Portfolio 2 -->

<!-- End: Modal Portfolio 2 -->
