= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          = msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :tag_list, "Tags (separated by commas)"
    %br/
    = f.text_field :tag_list
  .field
    = f.label :technologies_used
    %br/
    = f.text_area :technologies_used
  .actions
    = f.submit :class => "button tiny radius"
    = link_to 'Back', f.object.new_record? ? manage_path : project_path(f.object), :class => "button tiny radius"