.row
  .medium-8.columns
    - if @projects.empty?
      %h3 There are no projects to show!
    - else
      - @projects.each do |project|
        .project{id: dom_id(project)}
          %h3= link_to project.name, project
          %p= raw "Tags: #{project_tag_list(project)}"
          %article= project.technologies_used
  = render "projects/sidebar"