.row
  .medium-12.columns
    %h2= @project.name
    - if not current_user.nil?
      %p
        = link_to "Edit Project", edit_project_path(@project), :class => "button tiny radius"
        = link_to "Delete Project", @project, :class => "button tiny radius alert", :method => :delete, :data => { :confirm => "Are you sure?" }
    %p= raw "Tags: #{project_tag_list(@project)}"
    %p
      Technologies used: #{@project.technologies_used}