= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  - if policy(@post).publish?
    .field
      = f.label :published
      = f.check_box :published
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .field
    = f.label :tag_list, "Tags (separated by commas)"
    %br/
    = f.text_field :tag_list
  .field
    = f.label :body
    %br/
    = f.text_area :body, :class => "codemirror"
  .actions
    = f.submit :class => "button tiny radius"
    = link_to 'Back', f.object.new_record? ? manage_path : post_path(f.object), :class => "button tiny radius"