<div class="medium-4 columns">
  <aside>
    <% if @post %>
      <p>
        <% if policy(@post).edit? %>
          <div><%= link_to "Edit Post", edit_post_path(@post) %></div>
        <% end %>
        <% if policy(@post).destroy? %>
          <div>
            <%= link_to "Delete Post", @post, 
            :method => :delete, :data => { :confirm => "Are you sure?" } %>
          </div>
        <% end %>
      </p>
    <% end %>
    <h6>Posts by Month</h6>
    <ul id="posts-by-month">
      <% @posts_by_month.each do |date, posts| %> 
        <li>
          <a href="/posts/by-month/<%= date['month'] %>/<%= date['year'] %>">
            <%= date['month_name_and_year'] %>
          </a>
        </li>
      <% end %>
    </ul>
  </aside>
</div>