<div class="row">
  <div class="medium-8 columns">  
    <header>
      <h1><%= @post.title %></h1>   
      <% if !@post.published? %>
        <p>Unpublished</p>
      <% end %>    
      <p>
        Posted <%= @post.created_at.to_date %> by <%= @post.author.display_name %>
      </p>
    </header>
    <article>
      <%= markdown @post.body %>
      <%= render "posts/disqus" %>
    </article>
  </div>
  <%= render "posts/sidebar" %>
</div>
