<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<% if not current_user.nil? %>
<% end %>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p id="author">
  <b>By:</b>
  <%= @post.author.email %>
</p>

<%= link_to 'Back', posts_path %>
