<div class="row">
  <div class="medium-12 columns">
    <p id="title">
      <strong>Title:</strong>
      <%= @post.title %>
    </p>
    <p id="author">
      <b>By:</b>
      <%= @post.author.display_name %>
    </p>
    <p id="published">
      Status: <%= @post.published? ? "Published" : "Unpublished" %>
    </p>
    <p>
      <% if policy(@post).edit? %>
        <%= link_to "Edit Post", edit_post_path(@post), :class => "button tiny radius" %>
      <% end %>
      <% if policy(@post).destroy? %>
        <%= link_to "Delete Post", @post, :class => "button tiny radius alert", :method => :delete, :data => { :confirm => "Are you sure?" } %>
      <% end %>
    </p>   
    <p>
      <strong>Body:</strong>
      <%= markdown @post.body %>
    </p>
    <%= render "posts/livefyre" %>
    <%= link_to 'Back', posts_path %>
  </div>
</div>
