.row
  .medium-8.columns
    %header
      %h1= @post.title
      - if !@post.published?
        %p Unpublished
      %p
        Posted #{@post.created_at.to_date} by #{@post.author.display_name}
      %p= raw "Tags: #{@post.tag_list.map{ |t| link_to t, post_tag_path(t) }.join( ', ')}"
    %article
      = markdown @post.body
      = render "posts/disqus" if Rails.env.production?
  = render "posts/sidebar"
