<header class="mathead fixed">
  <div class="row">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1 class="hide-for-small-only"><%= link_to "Jon Faulkenberry", root_url %></h1>
          <h1 class="show-for-small-only"><%= link_to "JF", root_url %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if !current_user.nil? && current_user.author? %>
            <li><%= link_to "Manage", manage_url, :class => "topnav-link" %></li>
          <% end %>
          <li><%= link_to "About", about_url, :class => "topnav-link" %></li>
          <li><%= link_to "Blog", blog_url, :class => "topnav-link" %></li>
          <li><%= link_to "Portfolio", portfolio_url, :class => "topnav-link" %></li>
          <!-- Search it up! -->
          <li><input class="show-for-small-only small-search-box" type="text" placeholder="Enter search terms..." /></li>
          <li><i class="show-for-small-only small-search-icon fa fa-search fa-lg">&nbsp;</i></li>
          <!-- Search it up! -->
          <li><input class="search-box" type="text" placeholder="Enter search terms..." /></li>
          <li><a class="search-btn" href="#">Search</a></li>
          <li><i class="search-icon fa fa-search fa-lg">&nbsp;</i></li>
          <li><i class="search-back-icon fa fa-arrow-circle-left fa-lg">&nbsp;</i></li>
          <li></li>
        </ul>
      </section>
    </nav>
  </div><!-- /.row -->
</header><!-- /.masthead -->
