<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html lang="en">
	<head class="no-js" lang="en"> 
		<meta charset="UTF-8">
		<title>Jon Faulkenberry</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Jon Faulkenberry">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= javascript_include_tag "application" %>
		<%= yield :inline_styles %>
		<%= csrf_meta_tags %>
	</head>
	<body id="top">
		<%= render 'layouts/topnav'%>
		<%= render 'layouts/flash'%>
    <%= yield %>
		<%= render 'layouts/footer'%>
	</body>
</html>
