<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="UTF-8">
		<title>Jon Faulkenberry</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Jon Faulkenberry">

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body id="top">
		<%= render 'layouts/topnav'%>
    <div id="yield"><%= yield %></div>
		<%= render 'layouts/flash'%>
		<%= render 'layouts/footer'%>
    <%= yield :inline_scripts %>
    <%= yield :inline_styles %>
	</body>
</html>
