<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html lang="en">
  <head class="no-js" lang="en"> 
		<meta charset="UTF-8">
		<title>Jon Faulkenberry</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Jon Faulkenberry">
		
		<!-- Favicons -->
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<!-- For third-generation iPad with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144-precomposed.png">
		<!-- For iPhone with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114-precomposed.png">
		<!-- For first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72-precomposed.png">
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon-precomposed.png">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="top">
	
		<!-- TOP BAR -->
		<header class="mathead fixed">
			<div class="row">
				<nav class="top-bar" data-topbar>
					<ul class="title-area">
						<!-- Title Area -->
						<li class="name">
							<h1><%= link_to "Jon Faulkenberry", root_url %></h1>
						</li>
						<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
						<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					</ul><!-- /.title-area -->
					<section class="top-bar-section">
						<!-- Right Nav Section -->
						<ul class="right">
							<li><%= link_to "Blog", posts_url %></li>
							<li><%= link_to "Portfolio", projects_url %></li>
							<li><%= link_to "Contact", root_url(:anchor => "contact") %></li>
						</ul><!-- /.right -->
					</section><!-- /.top-bar-section -->
				</nav><!-- /.top-bar -->
			</div><!-- /.row -->
		</header><!-- /.masthead -->
		<!-- TOP BAR -->
		
		<!-- FLASH -->
		<% flash.each do |key, value| %>
			<div class="alert-box round <%= flash_class(key) %>">
				<%= value %>
			</div>
		<% end %>
		
    <%= yield %> 
		
		<!-- FOOTER -->
		<footer class="copy">
			<div class="row">
				<div class="medium-12 columns">
					<p>&copy; Copyright 2014 <%= link_to "Jon Faulkenberry", root_url %></p>
				</div><!-- /.medium-12 .columns -->
			</div><!-- /.row -->
		</footer><!-- /.copy -->
		<!-- FOOTER -->
		
    <%= javascript_include_tag "application" %>
  </body>
</html>